[Unit]
Description=Newest Careers API

[Service]
Type=simple
User=newest_careers
Group=newest_careers
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4798"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/newest_careers/new_careers/new_careers_api
ExecStart=/home/newest_careers/new_careers/new_careers_api/start.sh

[Install]
WantedBy=multi-user.target
