[Unit]
Description=New Careers API

[Service]
Type=simple
User=new_careers_api
Group=new_careers_api
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4797"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/new_careers_api/new_careers/new_careers_api
ExecStart=/home/new_careers_api/new_careers/new_careers_api/start.sh

[Install]
WantedBy=multi-user.target
